/**************************TAG SELECTORS**************************/
a {
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}

body {
  background-color: white;
  color: #40514E;
  font-size: 200%;
  margin: 0;
  text-align: center;

}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  text-align: center;
  line-height: 2;

}

h2 {
  color: #66BFBF;
  font-size: 4rem;
  font-family: sans-serif;
  font-weight: normal;
  padding-bottom: 10px;

}

h3 {
  color: #11999E;
  font-family: sans-serif;

}

hr {
  border-color: #EAF6F6;
  border-style: dotted none none;
  border-width: 10px;
  width: 4%;

}

p {
    line-height: 2;
}

/**************************CLASS SELECTORS**************************/

.bio {
  margin: 100px auto 100px auto;
  text-align: center;
  width: 30%;
}

.bottom-container {
  background-color: #66BFBF;
  padding : 50px 0 20px 0;
  margin-top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
  width: 200px;
}

.ui-dialog, .grey_box {
  background:  -webkit-gradient(top, #fefefe, #dddddd);
  background:  -o-linear-gradient(top, #fefefe, #dddddd);
  background:  -moz-linear-gradient(top, #fefefe, #dddddd);
  background:  -webkit-linear-gradient(top, #fefefe, #dddddd);
  background:  -ms-linear-gradient(top, #fefefe, #dddddd);
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -linear-gradient(bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -linear-gradient(bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
/*
.btn {
	box-shadow: 0 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
	background-color: #11cdd4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px 20px 10px 20px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
  margin-bottom: 100px;
}
.btn:hover {
	background:linear-gradient(to bottom, #30e3cb 5%, #2bc4ad 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}
*/


.coding-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.contact-me {
  line-height: 50px;
}

.contact-me-msg {
  width: 40%;
  margin: 40px auto 40px ;
}

.copyright{
  color: #EAF6F6;
  margin-bottom: 0;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link {
  font-size: 1rem;
  padding: 0 15px 0 15px;
}

.middle-container {
  margin-bottom: 0 0 100px 0;
}

.mixer-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.oliandeitha {
  text-decoration: none;
}

.pro {
  text-decoration: underline;
}

.programmer {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.profile-picture {
  border-radius: 100%;
  margin-top: 50px;
  width: 200px;

}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 40px;
  width: 200px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
